<web-app>
    
   <servlet>
      <servlet-name>logser</servlet-name>
      <servlet-class>login.Inic_secion</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Controller</servlet-name>
      <servlet-class>login.Controller</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>Registrar</servlet-name>
      <servlet-class>login.Registro</servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>logser</servlet-name>
      <url-pattern>/logser</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>Controller</servlet-name>
      <url-pattern>/control</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>Registrar</servlet-name>
      <url-pattern>/Registrar</url-pattern>
   </servlet-mapping>
</web-app>